language: python

python:
  - "2.6"
  - "2.7"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements.txt

deploy:
  skip_cleanup: true

script:
  - coverage run --branch -m unittest discover -s tests/

after_success:
  - codecov